<div class="form-group">
  <input type="text" class="form-control" id="" placeholder="search ...">
  <hr>
</div>
<div class="accordion" id="cats">
  <div class="accordion-item border-0">
      <button class="accordion-button p-1" type="button" data-bs-toggle="collapse" data-bs-target="#Programming" aria-expanded="true" aria-controls="Programming">
        Programming
      </button>

    <div id="Programming" class="accordion-collapse collapse show"  data-bs-parent="#cats">
      <div class="accordion-body">
        accordionExample
        accordionExample
        accordionExample
      </div>
    </div>
  </div>
  <div class="accordion-item border-0">
      <button class="accordion-button p-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#designing" aria-expanded="false" aria-controls="designing">
        designing
      </button>
    <div id="designing" class="accordion-collapse collapse"  data-bs-parent="#cats">
      <div class="accordion-body">

      </div>
    </div>
  </div>

</div>
