.login-body{
  background:url('/assets/images/wallpaper.jpg');
  background-position: center center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form {
  max-width: 500px;
  background-color: #0000006e;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 54px;
  box-sizing: border-box;
  border-radius: 8px;
  backdrop-filter: blur(8px);
}

h2 {
  text-align: center;
  margin-bottom: 3rem;
}

span {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 1rem;
}

.form-group {
  margin: 10px 0;
}

input{
  background-color: transparent !important;
  color: #ddd;
}
input::placeholder{
  color: #aaa;
}
input:focus{
  color: #eee;
}
button .loading {
  width: 30px !important;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  margin: auto;
  display: block;
}

button .text .lds-ring{
  display: none;
}

@media (max-width: 576px){
  .login-form {
    border-radius: 0;
    max-width: 576px !important;
    padding: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



.lds-ring {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 2px;
  border: 5px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
