<header class="py-3 postion-fixed">
  <div class="d-flex">
    <div class="menu-icon" (click)="toggleMenu()">
      <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 26 26" width="208px" height="208px"><path d="M 0 4 L 0 6 L 26 6 L 26 4 Z M 0 12 L 0 14 L 26 14 L 26 12 Z M 0 20 L 0 22 L 26 22 L 26 20 Z"/></svg>
    </div>
    <div class="logo">HAMZA KHALED</div>
    <div class="user" *ngIf="userIsAutheticated">
      <button class="btn btn-link dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        {{User.username}}
      </button>
      <div class="dropdown-menu p-4 text-muted mr-1" aria-labelledby="dropdownMenuButton" style="max-width: 200px;">


        <ul class="list-unstyled text-center m">
          <li class="px-3">

            <div class="avater">
              <img [src]="'http://localhost:3000'+User.profile" alt="{{User.username}}" >
            </div>
            <h6>{{User.username}}</h6>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li *ngIf="userIsAutheticated"  class="px-3 dropdown-item"><a class="nav-link" routerLink="/create">New</a></li>
          <li *ngIf="userIsAutheticated"  class="px-3 dropdown-item"><a class="nav-link" routerLink="/profile">profile</a></li>
          <li *ngIf="userIsAutheticated"  class="px-3 dropdown-item"><a class="nav-link" (click)="logout()">logout</a></li>
          <li *ngIf="!userIsAutheticated" class="px-3 dropdown-item"><a class="nav-link" routerLink="/log-in">Login</a></li>
          <li *ngIf="!userIsAutheticated" class="px-3 dropdown-item"><a class="nav-link" routerLink="/sin-up">Sinup</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="menu d-flex mt-5" [ngClass]="menuStatues?'active':''">
    <nav class="m-auto">
      <ul class="no-list d-flex list-unstyled">
        <li  class="px-3 "><a class="nav-link" routerLink="/">Home</a></li>
        <li *ngIf="userIsAutheticated"  class="px-3"><a class="nav-link" routerLink="/create">New</a></li>
        <li *ngIf="userIsAutheticated"  class="px-3"><a class="nav-link" routerLink="/profile">profile</a></li>
        <li *ngIf="userIsAutheticated"  class="px-3"><a class="nav-link" (click)="logout()">logout</a></li>
        <li *ngIf="!userIsAutheticated" class="px-3"><a class="nav-link" routerLink="/log-in">Login</a></li>
        <li *ngIf="!userIsAutheticated" class="px-3"><a class="nav-link" routerLink="/sin-up">Sinup</a></li>
      </ul>
    </nav>
  </div>
</header>
